{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link href="{% static "css/normalize.css" %}" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block link %}{% endblock %}
</head>
<body>

{% block header %}{% endblock %}
{% block bg-ukraine %}{% endblock %}
{#    {% if messages %}#}
{#        <ul class="messages">#}
{#        {% for message in messages %}#}
{#            <li class="{{ message.tags }}">#}
{#                {{ message|safe }}#}
{#                <a href="#" class="close">x</a>#}
{#            </li>#}
{#        {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

<script type="text/javascript" src={% static "js/main.js" %}></script>
</body>
</html>