{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block link %}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="header blog-header-fixed">
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/png/cryptobro-logo.png' %}" alt="logo" class="logo__img" width="70px"
                         height="70px">
                </a>
                <div class="blog-header__search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="blog-header__search-input" type="text" placeholder="Search CryptoBro">
                </div>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'index' %}" class="nav__link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'faq' %}" class="nav__link">FAQ</a>
                        </li>
                    </ul>
                </nav>
                {% with request.resolver_match.view_name as view_name %}
                <button class="blog-header__button">
                <a class="nav-link link-light" {% if view_name == 'account:login' %} active {% endif %}
                href="{% url 'account:login' %}"> Log In </a>
                </button>
                {% endwith %} 
                {% comment %} <button class="blog-header__button">Log In</button> {% endcomment %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <aside class="blog-aside">
            <div class="blog-aside-navbar">
                <ul class="blog-aside-navbar__list" style="padding: 1rem;">
                    <li class="blog-aside-navbar__item">FEEDS</li>
                    <li class="blog-aside-navbar__item">
                        <a href="#" class="blog-aside-navbar__link"><i class="fa fa-house"></i> Home</a>
                    </li>
                    <li class="blog-aside-navbar__item">
                        <a href="#" class="blog-aside-navbar__link"><i class="fa fa-star"></i> Popular</a>
                    </li>
                    <li class="blog-aside-navbar__item blog-aside-navbar__item-topics">
                        <p class="blog-aside-navbar-item-topics__title">TOPICS:</p>
                        <ul class="blog-aside-navbar-item-topics__list">
                            <li class="blog-aside-navbar-item-topics__item">
                                <a href="#" class="blog-aside-navbar-item-topics__link"><i
                                        class="fa-brands fa-bitcoin"></i>
                                    Crypto</a>
                            </li>
                            <li class="blog-aside-navbar-item-topics__item">
                                <a href="#" class="blog-aside-navbar-item-topics__link"><i class="fa fa-lock"></i>
                                    Криптография</a>
                            </li>
                            <li class="blog-aside-navbar-item-topics__item">
                                <a href="#" class="blog-aside-navbar-item-topics__link"><i class="fa fa-briefcase"></i>
                                    Business, Economics... </a>
                            </li>
                            <li class="blog-aside-navbar-item-topics__item">
                                <a href="#" class="blog-aside-navbar-item-topics__link">More ...</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr class="blog-aside-navbar__hr">
            <div class="blog-aside-bottom-info">
                <p class="blog-aside-bottom-info__text">Create an account to follow <br> your favorite communities
                    <br> and
                    start taking part in <br> conversations.
                </p>
                <button type="button" class="blog-aside-bottom-info__button">
                    Join CryptoBro
                </button>
            </div>
        </aside>


    <main class="blog">
        <section class="blog-first-articles">
            <div class="container">
                <ul class="blog-first-articles__list">
                    <li class="blog-first-articles__item">
                        <a href="#" class="blog-first-articles__link">
                            <img src="{% static 'img/png/lock.png' %}"
                                 class="blog-first-articles__img" width="250px" height="250px">
                            <h2 class="blog-first-articles__title">User Name</h2>
                            <div class="blog-first-articles__paragraph">Lorem ipsum dolor.</div>
                            <div class="blog-first-articles__info">
                                <img class="blog-first-articles__img-profile"
                                     src="{% static 'img/png/smile-profil.png' %}"
                                     alt="smile">
                                <span class="blog-first-articles__category">r/AskReddit</span>
                            </div>
                            </img>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="blog-content">
            <div class="container">
                <ul class="blog-content__list-posts">
                    <li class="blog-content__item">
                        <div class="blog-content__item-header">
                            <div class="blog-content__item-header-top">
                                <img src="{% static 'img/png/smile-profil.png' %}"
                                     class="blog-content__item-header-top-img"
                                     width="40px" height="40px" alt="avatar">
                                <a href="#" class="blog-content__item-header-top-user">crypto/AskCryptoBro</a>
                                <p class="blog-content__item-header-top-text">Posted by</p>
                                <a href="#" class="blog-content__item-header-top-user">UserName</a>
                            </div>
                            <p class="blog-content__item-header-time">{time}</p>
                            <p class="blog-content__item-header-text">Lorem ipsum dolor sit amet, consectetur.</p>
                            <button class="blog-content__item-header-join">Join</button>
                        </div>
                        <img src="https://s0.rbk.ru/v6_top_pics/resized/1200xH/media/img/5/83/756720397460835.jpg"
                             class="blog-content__item-img"
                             alt="card">
                        <div class="blog-content__item-footer">
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-comment"></i> 2.8k Comments
                            </button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-share"></i>Share
                            </button>

                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-bookmark"></i>Save
                            </button>
                            <button type="button" class="blog-content__item-footer-button">...</button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart"></i>
                            </button>
                            <p>1.2k</p>
                            <button type=" button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart-crack"></i>
                            </button>
                        </div>
                    </li>
                    <li class="blog-content__item">
                        <div class="blog-content__item-header">
                            <div class="blog-content__item-header-top">
                                <img src="{% static 'img/png/smile-profil.png' %}"
                                     class="blog-content__item-header-top-img"
                                     width="40px" height="40px" alt="avatar">
                                <a href="#" class="blog-content__item-header-top-user">cryptography/AskCryptoBro</a>
                                <p class="blog-content__item-header-top-text">Posted by</p>
                                <a href="#" class="blog-content__item-header-top-user">UserName</a>
                            </div>
                            <p class="blog-content__item-header-time">{time}</p>
                            <p class="blog-content__item-header-text">Lorem ipsum dolor sit amet, consectetur.</p>
                            <button class="blog-content__item-header-join">Join</button>
                        </div>
                        <div class="blog-content__item-footer">
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-comment"></i> 2.8k Comments
                            </button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-share"></i>Share
                            </button>

                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-bookmark"></i>Save
                            </button>
                            <button type="button" class="blog-content__item-footer-button">...</button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart"></i>
                            </button>
                            <p>1.2k</p>
                            <button type=" button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart-crack"></i>
                            </button>
                        </div>
                    </li>
                    <li class="blog-content__item">
                        <div class="blog-content__item-header">
                            <div class="blog-content__item-header-top">
                                <img src="{% static 'img/png/smile-profil.png' %}"
                                     class="blog-content__item-header-top-img"
                                     width="40px" height="40px" alt="avatar">
                                <a href="#" class="blog-content__item-header-top-user">cryptography/AskCryptoBro</a>
                                <p class="blog-content__item-header-top-text">Posted by</p>
                                <a href="#" class="blog-content__item-header-top-user">UserName</a>

                            </div>
                            <p class="blog-content__item-header-time">{time}</p>
                            <p class="blog-content__item-header-text">Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Adipisci asperiores cupiditate dignissimos dolore earum eius eos est
                                excepturi explicabo fugit, iste magni necessitatibus nemo non, optio recusandae sapiente
                                velit veniam.</p>
                            <button class="blog-content__item-header-join">Join</button>
                        </div>
                        <img src="https://s0.rbk.ru/v6_top_pics/resized/1200xH/media/img/6/36/756448686769366.jpg"
                             class="blog-content__item-img"
                             alt="card">
                        <div class="blog-content__item-footer">
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-comment"></i> 2.8k Comments
                            </button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-share"></i>Share
                            </button>

                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-bookmark"></i>Save
                            </button>
                            <button type="button" class="blog-content__item-footer-button">...</button>
                            <button type="button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart"></i>
                            </button>
                            <p>1.2k</p>
                            <button type=" button" class="blog-content__item-footer-button">
                                <i class="fa fa-heart-crack"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

