{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block link %}
    <link href="{% static "css/faq.css" %}" rel="stylesheet">
{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/png/cryptobro-logo.png' %}" alt="logo" class="logo__img" width="70px"
                         height="70px">
                </a>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'index' %}" class="nav__link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'faq' %}" class="nav__link">FAQ</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'blog' %}" class="nav__link">Блог</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <main class="faq">
        <div class="container">
            <section class="faq-content-top">
                <div class="faq-content-top__images">
                    <img class="faq-content-top__img-woman"
                         src="{% static 'img/svg/illustration-woman-online-desktop.svg' %}"
                         alt="" width="510px" height="390px"/>
                    <img class="faq-content-top__bg-img-shadow"
                         src="{% static 'img/svg/bg-pattern-desktop.svg' %}"
                         alt=""/>
                </div>


                <img class="faq-content-top__img-box"
                     src="{% static 'img/svg/illustration-box-desktop.svg' %}"
                     alt=""/>
                <div class="faq-content-top__info">
                    <h1 class="faq-content-top__info">FAQ</h1>
{#                    <ul class="faq-content-top__info-questions">#}
{#                        <li class="faq-content-top__info-questions-item">#}
{#                            <div>#}
{#                                <h2 class="faq-content-top__info-questions-item-title">Важный вопрос номер один?</h2>#}
{#                                <img class="faq-content-top__info-questions-item-arrow"#}
{#                                     src="{% static 'img/svg/icon-arrow-down.svg' %}" alt=""/>#}
{#                            </div>#}
{#                            <p class="faq-content-top__info-questions-item-subtitle">Важный ответ номер один.</p>#}
{#                        </li>#}
{#                        <li class="faq-content-top__info-questions-item">#}
{#                            <div>#}
{#                                <h2 class="faq-content-top__info-questions-item-title">Важный вопрос номер два?</h2>#}
{#                                <img class="faq-content-top__info-questions-item-arrow"#}
{#                                     src="{% static 'img/svg/icon-arrow-down.svg' %}" alt=""/>#}
{#                            </div>#}
{#                            <p class="faq-content-top__info-questions-item-subtitle">Важный ответ номер два.</p>#}
{#                        </li>#}
{#                        <li class="faq-content-top__info-questions-item">#}
{#                            <div>#}
{#                                <h2 class="faq-content-top__info-questions-item-title">Важный вопрос номер три?</h2>#}
{#                                <img class="faq-content-top__info-questions-item-arrow"#}
{#                                     src="{% static 'img/svg/icon-arrow-down.svg' %}" alt=""/>#}
{#                            </div>#}
{#                            <p class="faq-content-top__info-questions-item-subtitle">Важный ответ номер три.</p>#}
{#                        </li>#}
{#                        <li class="faq-content-top__info-questions-item">#}
{#                            <div>#}
{#                                <h2 class="faq-content-top__info-questions-item-title">Важный вопрос номер четыре?</h2>#}
{#                                <img class="faq-content-top__info-questions-item-arrow"#}
{#                                     src="{% static 'img/svg/icon-arrow-down.svg' %}" alt=""/>#}
{#                            </div>#}
{#                            <p class="faq-content-top__info-questions-item-subtitle">Важный ответ номер четыре.</p>#}
{#                        </li>#}
{#                        <li class="faq-content-top__info-questions-item">#}
{#                            <div>#}
{#                                <h2 class="faq-content-top__info-questions-item-title bold">Важный вопрос номер пять?</h2>#}
{#                                <img class="faq-content-top__info-questions-item-arrow"#}
{#                                     src="{% static 'img/svg/icon-arrow-down.svg' %}" alt=""/>#}
{#                            </div>#}
{#                            <p class="faq-content-top__info-questions-item-subtitle">Важный ответ номер пять.</p>#}
{#                        </li>#}
{#                    </ul>#}
                    <details class="faq-details">
                        <summary class="faq-summary bold ">Важный вопрос номер один?</summary>
                        <p class="faq-summary-content">Важный ответ номер один</p>
                    </details>
                    <details class="faq-details">
                    <summary class="faq-summary bold">Важный вопрос номер два?</summary>
                         <p class="faq-summary-content">Важный ответ номер два</p>
                    </details>
                    <details class="faq-details">
                        <summary class="faq-summary bold">Важный вопрос номер три?</summary>
                        <p class="faq-summary-content">Важный ответ номер три</p>
                        </details>
                    <details class="faq-details">
                        <summary class="faq-summary bold">Важный вопрос номер четыре?</summary>
                        <p class="faq-summary-content">Важный ответ номер четыре</p>
                    </details>
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__row-1">
                    <a href="/" class="logo">
                        <img src="{% static 'img/png/cryptobro-logo.png' %}" alt="logo" class="logo__img" width="70px"
                             height="70px">
                    </a>
                    <nav class="footer__nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="{% url 'index' %}" class="nav__link">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'faq' %}" class="nav__link">FAQ</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'blog' %}" class="nav__link">Блог</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <p class="footer__text">Lorem ipsum dolor sit amet, consectetur.</p>
                <div class="footer-contact">
                    <input type="email" name="email" id="contact-email" class="footer-contact__input"
                           placeholder="Email">
                    <button class="footer-contact__send">Send</button>
                </div>
                <div class="footer__row-2">
                    <p class="footer__made">Lorem ipsum.<a href="#" class="footer__link">CryptoBro.pro</a></p>
                    <p class="footer__font">
                        Lorem ipsum dolor sit amet, consectetur adipisicing.<a href="#" class="footer__link">Lorem
                        ipsum.</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
