{% extends "base.html" %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block header %}
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/png/cryptobro-logo.png' %}" alt="logo" class="logo__img" width="70px"
                         height="70px">
                </a>
                <nav class="header__nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="{% url 'index' %}" class="nav__link">Главная</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'faq' %}" class="nav__link">FAQ</a>
                        </li>
                        <li class="nav__item">
                            <a href="{% url 'blog' %}" class="nav__link">Блог</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
{% endblock %}

{#{% block bg-ukraine %}#}
{#    {% include 'ui/bg-ukraine.html' %}#}
{#{% endblock %}#}

{% block content %}

    <section class="home-section-bg-ukraine">
        <img class="home-section-bg-ukraine__img" src="{% static 'img/png/ukraine.png' %}" alt="">
            <div class="home-section-bg-ukraine__inner">
            <h2 class="home-section-bg-ukraine__title">
                We stand with Ukraine
            </h2>
            </div>
    </section>
    {#    <h1>{{ title }}</h1>#}
    {#    <h2>Coming soon...</h2>#}
    {#    <iframe width="860" height="515" src="https://www.youtube.com/embed/ihYmSuekC14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>#}
    <main>
        <section id="home-hero" class="home-hero">
            <div class="home-hero__inner">
                <h1 class="home-hero__title">Welcome to the CryptoBro!</h1>
                <p class="home-hero__subtitle">Your source of reliable information about cryptography</p>
                <div class="home-hero-img home-hero__img">
                    <img src="{% static 'img/png/CryptoBro-background.png' %}" alt="cryptobro-background"
                         class="home-hero-img__img" width="1050px" height="590px">
{#                    <div class="home-hero-widget home-hero-savings-widget home-hero-img__savings-widget">#}
{#                    <p class="home-hero-savings-widget__name">Lorem</p>#}
{#                        <p class="home-hero-savings-widget__cash">0.00.00.0</p>#}
{#                        <div class="home-hero-widget-empty-elements home-hero-savings-widget__empty-elements">#}
{#                            <div class="home-hero-widget-empty-elements__element-1"></div>#}
{#                            <div class="home-hero-widget-empty-elements__element-2"></div>#}
{#                        </div>#}
{#                        <div class="home-hero-savings-widget__graph"></div>#}
{#                    </div>#}
{#                    <div class="home-hero-widget home-hero-split-widget home-hero-img__split-widget">#}
{#                        <div class="home-hero-split-widget__left">#}
{#                            <p class="home-hero-split-widget__name">Leon Battista Alberti</p>#}
{#                            <p class="home-hero-split-widget__cash">0.00.00.0</p>#}
{#                            <div class="home-hero-split-widget__empty-element-1"></div>#}
{#                        </div>#}
{#                        <div class="home-hero-split-widget__right">#}
{#                            <div class="home-hero-split-widget__avatars">#}
{#                                <div class="home-hero-split-widget__avatar home-hero-split-widget__avatar-1"></div>#}
{#                                <div class="home-hero-split-widget__avatar home-hero-split-widget__avatar-2"></div>#}
{#                                <div class="home-hero-split-widget__avatar home-hero-split-widget__avatar-3"></div>#}
{#                            </div>#}
{#                            <div class="home-hero-split-widget__empty-element-2"></div>#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
        </section>
        <section class="home-certificates">
            <a href="#" class="home-certificate">
                <img src="{% static 'img/png/certificates/icon_crypto.png' %}" alt="certificate" class="home-certificate__img" width="50px"
                     height="50px">
            </a>
            <a href="#" class="home-certificate">
                <img src="{% static 'img/png/certificates/icon_ssl.png' %}" alt="certificate"
                     class="home-certificate__img" width="50px" height="50px">
            </a>
            <a href="#" class="home-certificate">
                <img src="{% static 'img/png/certificates/icon_aes.png' %}" alt="certificate"
                     class="home-certificate__img" width="50px" height="50px">
            </a>
            <a href="#" class="home-certificate">
                <img src="{% static 'img/png/certificates/icon_sign.png' %}" alt="certificate"
                     class="home-certificate__img" width="50px" height="50px">
            </a>
        </section>
        <section class="home-card-with-info">
            <div class="container">
                <h2 class="home-about__title">About our project</h2>
                <p class="home-about__subtitle">You will learn about current trends in the use of blockchain and cryptocurrencies, as well as the application of cryptography in industries including finance, healthcare, and law enforcement. <br>
                Stay safe in the digital age and get the latest information from CryptoBro!</p>
                <div class="home-card-with-info__row home-card-with-info__row--1">
                    <div class="home-card-with-info__content home-card-with-info__content--1">
                        <h3 class="home-card-with-info__title">Why is cryptography so important?</h3>
                        <p class="home-card-with-info__subtitle"> More and more people use the Internet to transfer and store their personal data. However, security threats are also becoming more and more complex. We'll help you figure out how to protect your data from cybercriminals and other malicious attacks.</p>
                    </div>
                    <div class="home-card-with-info__img-box--1">
                        <img src="{% static 'img/png/cards/card-with-info-1.png' %}" alt="card"
                             class="home-card-with-info__img">
                    </div>
                </div>
{#                <div class="home-card-with-info__row home-card-with-info__row--2">#}
{#                    <div class="home-card-with-info__content home-card-with-info__content--2">#}
{#                        <h3 class="home-card-with-info__title">Lorem ipsum dolor<br>lorem ipsum dolor.</h3>#}
{#                        <p class="home-card-with-info__subtitle">Lorem ipsum dolor sit amet, consectetur#}
{#                            adipisicing.<br>Lorem#}
{#                            ipsum#}
{#                            dolor sit amet, consectetur adipisicing elit. Ab earum, tempore..</p>#}
{#                        <div class="text-check home-card-with-info__check">#}
{#                            <div class="text-check__img"></div>#}
{#                            <p class="text-check__text">Lorem ipsum dolor sit amet, consectetur adipisicing..</p>#}
{#                        </div>#}
{#                        <div class="text-check home-card-with-info__check">#}
{#                            <div class="text-check__img"></div>#}
{#                            <p class="text-check__text">Lorem ipsum dolor sit.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="home-card-with-info__img-box--2">#}
{#                        <img src="{% static 'img/png/cards/card-with-info-2.png' %}" alt="" class="card">#}
{#                    </div>#}
{#                </div>#}
                <div class="home-card-with-info__row home-card-with-info__row--2">
                    <div class="home-card-with-info__content home-card-with-info__content--2">
                        <h3 class="home-card-with-info__title">Future of the SSL Protocol</h3>
                        <p class="home-card-with-info__subtitle">The most usage case of encryption is SSL, that protect exchange between your browser and site. In few years sites should be protected with post quantum algorithms instead RSA.</p>
                    </div>
                    <div class="home-card-with-info__img-box--2">
                        <img src="{% static 'img/png/cards/card-with-info-2.png' %}" alt="" class="card">
                    </div>
                </div>
                <div class="home-card-with-info__row home-card-with-info__row--3">
                    <div class="home-card-with-info__content home-card-with-info__content--3">
                        <h3 class="home-card-with-info__title">What about AES?</h3>
                        <p class="home-card-with-info__subtitle">AES is not so vulnerable to a quantum computer and it is possible to use in new realty.</p>
                    </div>
                    <div class="home-card-with-info__img-box--3">
                        <img src="{% static 'img/png/cards/card-with-info-3.png' %}" alt="card"
                             class="home-card-with-info__img">
                    </div>
                </div>
                <div class="home-card-with-info__row home-card-with-info__row--4">
                    <div class="home-card-with-info__content home-card-with-info__content--4">
                        <h3 class="home-card-with-info__title">Perspective of the Digital Signature</h3>
                        <p class="home-card-with-info__subtitle">To be all set with Digital Signature, you should use compatible software with the new post quantum algorithms.</p>
                    </div>
                    <div class="home-card-with-info__img-box--4">
                        <img src="{% static 'img/png/cards/card-with-info-4.png' %}" alt="card"
                             class="home-card-with-info__img">
                    </div>
                </div>
            </div>
        </section>
        <section class="home-banner">
            <div class="container">
                <div class="home-banner__inner">
                    <div class="home-banner__content">
                        <h2 class="home-banner__title">Our blog is a trusted source of news, analytics and tips from crypto experts.</h2>
                        <p class="home-banner__important">So, if you want to have actual information about safety usage of Information Technologies - follow our news and ask your questions to our mail!</p>
                    </div>
                    <img src="{% static 'img/png/banner-preview.png' %}" alt="banner" class="home-banner__img"
                         width="520px" height="390px">
                </div>
            </div>
        </section>
{#        <section class="home-people">#}
{#            <div class="container">#}
{#                <div class="home-people__inner">#}
{#                    <h2 class="home-people__title">What home-people say</h2>#}
{#                    <div class="home-people__row">#}
{#                        <div class="home-people__col">#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-1.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Facilis, rerum?</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-4.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-7.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit.</p>#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Distinctio libero mollitia perspiciatis.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="home-people__col">#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-2.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Iste laudantium mollitia numquam reiciendis? Animi, commodi distinctio#}
{#                                        dolores#}
{#                                        excepturi illo quae.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-5.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Illum magnam sapiente sequi soluta vel voluptas?</p>#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-8.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">#}
{#                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis hic itaque#}
{#                                        totam#}
{#                                        ullam vitae.#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="home-people__col">#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-3.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">#}
{#                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem expedita#}
{#                                        magni natus odio quam voluptatibus!#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-6.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Exercitationem?</p>#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="home-people-message">#}
{#                                <div class="home-people-message__header">#}
{#                                    <div class="home-people-message__avatar">#}
{#                                        <img src="{% static 'img/png/avatars/people-9.png' %}" alt=""#}
{#                                             class="home-people-message__avatar-img" width="45px" height="45px">#}
{#                                    </div>#}
{#                                    <div class="home-people-message__name-wrapper">#}
{#                                        <div class="home-people-message__name">Bryan Smith</div>#}
{#                                        <div class="home-people-message__position">CEO Framer</div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="home-people-message__content">#}
{#                                    <p class="home-people-message__text">Lorem ipsum dolor sit amet, consectetur#}
{#                                        adipisicing#}
{#                                        elit. Alias debitis dolores eos id mollitia natus quibusdam! Consequatur#}
{#                                        incidunt#}
{#                                        minima non!</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
        <section class="home-ready">
            <div class="home-ready__container">
                <h2 class="home-ready__title">Ready to get started?</h2>
                <p class="home-ready__subtitle">Subscribe to our blog to receive regular updates. We're here to help you use crypto to your advantage!</p>
                <a href="{% url 'blog' %}"><button class="home-ready__button">GO</button></a>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__row-1">
                    <a href="/" class="logo">
                        <img src="{% static 'img/png/cryptobro-logo.png' %}" alt="logo" class="logo__img" width="70px"
                             height="70px">
                    </a>
                    <nav class="footer__nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="#" class="nav__link">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'faq' %}" class="nav__link">FAQ</a>
                            </li>
                            <li class="nav__item">
                                <a href="{% url 'blog' %}" class="nav__link">Блог</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <p class="footer__text">Наши контакты<br>+381 629316263<br>2, Mite Ružića<br>Novi Sad<br>Serbia<br>info@cryptobro.com</p>
                <div class="footer-contact">
                    <input type="email" name="email" id="contact-email" class="footer-contact__input"
                           placeholder="Email">
                    <button class="footer-contact__send">Send</button>
                </div>
                <div class="footer__row-2">
                    <p class="footer__made">© 2023,<a href="#" class="footer__link">CryptoBro.pro</a></p>
                    <p class="footer__font">
                        Все права защищены
{#                        <a href="#" class="footer__link">Lorem ipsum.</a>#}
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
