{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1 align="center" style="color:Royalblue">Привет, я автор этого проекта Дмитрий</h1> <br> 
<p>
    <ul>
        <li><b>Образование Высшее:</b> МГТУ МИРЭА (2006–2011).
            Факультет информационных технологий, 
            <br>Инженер по специальности "Автоматизированные системы обработки управления и информации"    
        </li><br>   
        <li><b>Дополнительное образование:</b> Denis school (2014 год).
            Курсы английского языка. <br> Уровень: Pre Intermediate ;
        </li><br> 
        <li><b>Курсы Яндекс-Практикум:</b> Python-разработчик (2023 год).<br>
            На курсах много теории и еще больше практики.<br>
            Практически по каждому спринту предусмотрен финальный проект!<br>
            <p>Чтобы ознакомиться с моими проектами, заходи сюда:
            <a href="https://github.com/DPavlen"> Моя страница на Github</a>
            </p>
            <br> 
        </li><br> 
    </ul>
</p>
{% endblock %} 