{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="row">
  <h1 style="color:Royalblue">Мои ключевые навыки:</h1>
  <aside class="col-12 col-md-3">
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Python version 3;</b>
      </li><br>
      <li class="list-group-item">
        <b>Django;</b> 
      </li><br>
      <li class="list-group-item">
        <b>HTML 5;</b> 
      </li><br>
      <li class="list-group-item">
        <b>CSS;</b>
      </li><br>
      <li class="list-group-item">
        <b>GIT;</b> 
      </li><br>
      <li class="list-group-item">
        <b>БД SQLITE и SQL запросы;</b> 
      </li><br>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
  </article>
</div>
{% endblock %}